body{
    margin: 0;/*Faz com que a header ou outros conteineres ou blocos fiquem colados com a margem da tela(body)*/
}

header{
    background: fixed #FA1;
    display: flex;
    justify-content: space-between;/*IRÁ POSICIONAR OS FILHOS (NÃO COLOCAR ISTO NOS FILHOS)*/
    /* box-shadow: 10px 20px 10px green; */
    /* height: 20%; */
    /* width: 100%; */
    padding: 10px 20px;
    /*      VERTICAL/HORIZONTAL VETTICAL= PARA BAIXO É +, E PARA BAIXO -/ HORIZONTAL= PARA DIREITA É +, PARA ESQUERDA É -*/
}

nav{
    /* text-align: right; LEVA os LINKS para a DIREITA / Também leva textos, titulos */
     
}
.button{
    text-decoration: none;
    background: black;
    color: white;
    font-size: 21px;
    font-family: "Abel", serif, Arial;
    font-weight: 400;
    font-style: normal;
    margin-right: 10px;/*MARGIN é um tipo de respiro externo / Seria EMPURRAR o ELEMENTO para o lado DIREITO*/
    margin-top: 15px;
    padding: 8px;
    border-radius: 7px;
    border: none;
    line-height: 20px;/*Mexe com a linha do texto DE CIMA para BAIXO / FAZ com que CENTRALIZE o TXT*/
    display: inline-flex;/* FAZ com que o LINK fique em LINHA, porém ADD atributos como WIDTH(LARGURA), HEIGHT(ALTURA).*/
    /* align-items: center; */

}   

.button:hover{
    font-size: 25px;
    background-color: white;
    color: black;
    border: solid 3px black;
    padding: 10px;
    font-family: "Abel", serif, Arial;
    font-weight: 400;
    font-style: normal;

}

/* div{
    width: 50px;
    height: 50px;
    border-radius: 10px;
    border: black 1px;
    /* margin-left: 20px; 
}*/


img{
    height: 60px;
    width: 60px;
    border-radius: 10px;
    border: solid black 3px;
}

